.blogContainer{
    background-color: #D2D2D2;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: scroll;
}
.blogWrapper{
    background: url("F:/New folder/assests/scenery.jpg ");
    height: 270px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-position: center;
}
.blogWrapper h1{
    color: white;
    text-align: center;
    padding-top: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.articleBlog{
    margin: auto;
    width: 80%;
}